<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd

http://www.springframework.org/schema/context ">
    <bean id="StudentDAO" class="DAO.Impl.StudentDAOImpl"/>
    <bean id="DeleteActionBean" class="stripes.crud.DeleteActionBean"/>
    <bean id="CrudActionBean" class="stripes.crud.CrudActionBean"/>
    <bean id="PageCreateActionBean" class="stripes.crud.PageCreateActionBean"/>
    <bean id="PageUpdateActionBean" class="stripes.crud.PageUpdateActionBean"/>
    <bean id="Student" class="logic.Student"/>
    <bean id="Factory" class="DAO.Factory" scope="singleton"/>
    <bean id="HibernateUtil" class="util.HibernateUtil" scope="singleton"/>
    <bean id="ActionBean" class="net.sourceforge.stripes.action.ActionBeanContext"/>

</beans>
